* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box; }

/*********************** SECCION DE FOOTER DE PAGINAS  *******/
.seccionFooter {
  display: grid;
  position: sticky;
  width: 100vw;
  grid-template-columns: 2fr 1fr 4fr;
  grid-template-rows: 200px;
  background: linear-gradient(to top, #F83A01, #f88315);
  /* margin-top: 500px; */
  border-radius: 20px 15px 20px 15px;
  border-top: 1px solid white;
  box-shadow: 5px 0 10px red;
  justify-content: space-around;
  grid-template-areas: "seccionCopyright socialMediaPanel contactoPanel"; }

.seccionCopyright {
  grid-area: seccionCopyright;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 200px;
  grid-template-areas: "logoFooter textoFooterLogo" "logoFooter textoFooterLogo"; }

.textoFooterLogo {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.imgFooterLogo {
  display: flex;
  justify-content: center;
  align-items: center; }

.logoFooter {
  height: 170px;
  width: 170px; }

.socialMediaPanel {
  grid-area: socialMediaPanel;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 50px 50px 50px;
  grid-template-areas: "encabezadoSocialMedia encabezadoSocialMedia encabezadoSocialMedia" "imagenesSocialMedia imagenesSocialMedia imagenesSocialMedia" "imagenesSocialMedia imagenesSocialMedia imagenesSocialMedia";
  align-content: center;
  justify-items: center; }

.encabezadoSocialMedia {
  grid-area: encabezadoSocialMedia;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px; }

.imagenesSocialMedia {
  height: 50px;
  width: 50px;
  grid-area: imagenesSocialMedia; }

.contactoPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .contactoPanel p {
    font-size: 35px; }
    .contactoPanel p a {
      font-size: 25px;
      text-decoration: none; }

.enlace {
  position: absolute; }

.logo {
  width: 145px;
  height: 145px; }

.menu_principal {
  /* position: sticky; */
  background: linear-gradient(to top, #F2A81D, #F23005);
  height: 145px;
  width: 100vw;
  border-radius: 15px 20px 15px 20px;
  border-bottom: 1px solid #D0D3D9;
  box-shadow: 5px 0 10px #F23005; }
  .menu_principal .menu_bar_items {
    text-align: center;
    line-height: 145px;
    margin-left: 17.5%;
    /* margin-right: 17.5%; */ }
    .menu_principal .menu_bar_items li {
      display: inline-block;
      justify-content: center;
      margin: 0 40px; }
      .menu_principal .menu_bar_items li a {
        color: #1E1E1E;
        font-family: Oswald;
        font-size: 35px;
        text-decoration: none;
        display: block; }
  .menu_principal .menu_bar_items_log {
    float: right;
    margin: 15px 40px; }
    .menu_principal .menu_bar_items_log li {
      list-style: none;
      margin-bottom: 11px; }
      .menu_principal .menu_bar_items_log li a {
        color: #1E1E1E;
        font-family: Oswald;
        font-size: 25px;
        text-decoration: none;
        display: block; }
  .menu_principal .menu_bar_items :hover, .menu_principal .menu_bar_items.active {
    color: #D0D3D9;
    transition: 0.3s; }

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 140px;
  margin-right: 40px;
  cursor: pointer;
  display: none; }

#check {
  display: none; }

.encabezado_Torneos {
  padding-top: 50px; }

/* MODIFICACION DE LAS FILAS  Y COLUMNAS*/
.primer_columna_torneos_actuales {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 50px 50px 50px 50px;
  justify-content: center; }

.segunda_columna_torneos_actuales {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 50px 50px 50px 50px;
  justify-content: center; }

/* DISTRIBUCION DE PLACAS DE TORNEOS */
.ficha_Torneo {
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 450px;
  padding: 10px 10px 10px 6px;
  border-radius: 15px 20px 15px 20px;
  border: 4px solid #F23005;
  box-shadow: 2px 2px 2px #F23005; }

.head_Torneo {
  width: 300px;
  height: 200px;
  color: white;
  border-radius: 15px 20px 15px 20px; }

.grafica_Torneo {
  position: absolute;
  width: 300px;
  height: 200px; }

.imagen_Torneos {
  position: absolute;
  width: 300px;
  height: 200px;
  border-radius: 15px 15px 0px 0px; }

.bloque_Participantes {
  position: relative;
  float: left;
  padding-left: 10px;
  padding-top: 10px; }

.bloque_Modalidad {
  position: relative;
  float: right;
  padding-right: 10px;
  padding-top: 10px; }

.body_Torneo {
  position: relative;
  background: linear-gradient(to top, #FBFBFC, #D0D3D9);
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 15px; }

.footer_Torneo {
  display: flex;
  gap: 100px;
  width: 300px;
  height: 39px;
  background: #000000;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 0px 0px 15px 15px; }

.texto_Modalidad {
  background: #353433; }

.texto_Participantes {
  background: #353433; }

.texto_Juego {
  font-size: 14px;
  padding-top: 15px; }

.texto_Titulo {
  font-size: 23px;
  padding-top: 5px;
  font-style: italic; }

.texto_Organizacion {
  display: flex;
  gap: 10px;
  padding-top: 20px; }

/* SECCION DE CONTACTO */
.formulario, .form3, .form4 {
  display: flex;
  flex-direction: column; }

.encabezadoContacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 15px; }

.form1, .form2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  margin-top: 10px; }

.form3 {
  margin-top: 10px; }

.form4 {
  flex-wrap: wrap;
  align-content: center;
  margin-top: 10px; }

.form5 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 31px;
  flex-wrap: wrap;
  align-content: center;
  margin: 10px 0 60px 0; }

.contenedorPagina {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw; }

.contenedorPagina h4 {
  font-size: 20px;
  text-align: center;
  margin: 20px; }

/*  .contact_style_conteiner {
        display: flex;
    } */
.contenedor_noticias {
  display: grid;
  grid-template-columns: 4fr 4fr 4fr;
  grid-template-rows: 1fr 1fr 1.1fr 1.1fr;
  grid-template-areas: "noticias_main_a noticias_main_a noticias_main_a" "noticias_main_b noticias_main_b noticias_main_b" "noticias_secundario1 noticias_secundario2 noticias_secundario3" "noticias_secundario4 noticias_secundario5 noticias_secundario6";
  justify-items: center; }

.noticias_main_a {
  display: flex;
  margin: 5%;
  justify-content: center;
  grid-area: noticias_main_a; }

.noticias_main_b {
  display: flex;
  margin: 5%;
  justify-content: center;
  grid-area: noticias_main_b; }

.image_notice_a, .noticia_texto_noticiaPrincial {
  height: 300px;
  width: 500px; }

.image_notice_b {
  height: 300px;
  width: 400px; }

.contenedor_latampro {
  display: grid;
  grid-template-columns: 4fr 4fr 4fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "noticias_main_a noticias_main_a noticias_main_a" "noticias_main_b noticias_main_b noticias_main_b"; }

.image_latampro_a, .text_Latampro_Bio {
  height: 400px;
  width: 400px; }

.noticia_texto_noticiaPrincial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 100px; }

.noticias_secundario {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 400px; }

.noticias_secundarias {
  display: flex;
  gap: 200px; }

@media screen and (max-width: 900px) {
  .contenedor_noticias {
    display: grid;
    grid-template-columns: 3fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 0.5fr;
    grid-template-areas: "noticias_main_a" "noticias_main_b" "noticias_secundario1" "noticias_secundario2";
    justify-items: center; }
  .noticias_main_a {
    display: flex;
    flex-direction: column; }
  .noticias_main_b {
    display: flex;
    flex-direction: column; }
  .noticia_texto_noticiaPrincial {
    margin-left: 0px; }
  .contenedor_latampro {
    max-width: 600px; } }

.contenedor_noticias {
  display: grid;
  grid-template-columns: 3fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 0.5fr;
  grid-template-areas: "noticias_main_a" "noticias_main_b" "noticias_secundario1" "noticias_secundario2";
  justify-items: center; }

.noticias_main_a {
  display: flex;
  margin: 5%;
  justify-content: center;
  grid-area: noticias_main_a;
  border: 8px solid #F23005;
  border-radius: 15px 20px 15px 20px;
  padding: 15px 15px 15px 15px;
  box-shadow: 5px 0 10px #F23005; }

.noticias_main_b {
  display: flex;
  margin: 5%;
  justify-content: center;
  grid-area: noticias_main_b;
  border: 8px solid #F23005;
  border-radius: 15px 20px 15px 20px;
  padding: 15px 15px 15px 15px;
  box-shadow: 5px 0 10px #F23005; }

.image_notice_a, .noticia_texto_noticiaPrincial {
  height: 300px;
  width: 440px; }

.image_notice_b {
  height: 300px;
  width: 400px; }

.contenedor_latampro {
  display: grid;
  grid-template-columns: 4fr 4fr 4fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "noticias_main_a noticias_main_a noticias_main_a" "noticias_main_b noticias_main_b noticias_main_b"; }

.noticia_texto_noticiaPrincial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 100px; }

.noticias_secundario {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 400px;
  border: 8px solid #F2A81D;
  border-radius: 15px 20px 15px 20px;
  padding: 15px 15px 15px 15px;
  box-shadow: 0px 0px 10px 10px #F2A81D;
  margin-left: 20px; }

@media screen and (max-width: 650px) {
  .contenedor_noticias {
    display: grid;
    grid-template-columns: 3fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 0.5fr;
    grid-template-areas: "noticias_main_a" "noticias_main_b" "noticias_secundario1" "noticias_secundario2";
    justify-items: center; }
  .noticias_main_a {
    display: flex;
    flex-direction: column; }
  .noticias_main_b {
    display: flex;
    flex-direction: column; }
  .noticia_texto_noticiaPrincial {
    margin-left: 0px; }
  .contenedor_latampro {
    max-width: 600px; } }

@media screen and (max-width: 389px) {
  .image_notice_a, .noticia_texto_noticiaPrincial {
    height: 344px;
    width: 306px; }
  .image_notice_b {
    height: 234px;
    width: 290px; }
  .noticias_secundario {
    display: flex;
    flex-direction: column;
    height: 292px;
    width: 334px;
    border: 8px solid #F2A81D;
    border-radius: 15 20px 15px 20px;
    padding: 15px 15px 15px 15px;
    box-shadow: 0px 0px 10px 10px #f2a81d;
    margin-left: -10px; }
  .texto_noticiah3 {
    margin-top: 50px; } }

.error_container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Oswald;
  background-color: #000000;
  height: 100vh; }

.texto_error {
  color: white; }

.error_text_container {
  display: flex;
  flex-direction: column;
  align-items: center; }

.botones {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px; }

@media screen and (max-width: 600px) {
  .error_container {
    flex-direction: column; }
  .image_404 {
    display: none; }
  .texto_error {
    text-align: center;
    margin: 10px; } }

.contenedor_latampro {
  display: grid;
  grid-template-columns: 4fr 4fr 4fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "latampro_main_a latampro_main_a latampro_main_a" "latampro_main_b latampro_main_b latampro_main_b"; }

.latampro_main_a {
  display: flex;
  margin: 5%;
  justify-content: center;
  grid-area: latampro_main_a; }

.latampro_main_b {
  display: flex;
  margin: 5%;
  justify-content: center;
  grid-area: latampro_main_b; }

.image_latampro_a, .text_Latampro_Bio {
  height: 300px;
  width: 500px;
  border-radius: 35px 40px 35px 40px; }

.image_latampro_b {
  height: 300px;
  width: 400px;
  border-radius: 35px 40px 35px 40px; }

.image_latampro_a, .text_Latampro_Bio {
  height: 400px;
  width: 400px; }

.text_Latampro_Bio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 75px; }

.latampro_encabezado {
  margin-top: 120px; }

@media screen and (max-width: 900px) {
  .contenedor_latampro {
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    grid-template-areas: "latampro_main_a latampro_main_a latampro_main_a" "latampro_main_b latampro_main_b latampro_main_b"; }
  .latampro_main_a {
    display: flex;
    flex-direction: column; }
  .latampro_main_b {
    display: flex;
    flex-direction: column; }
  .text_Latampro_Bio {
    margin-left: 0px; }
  .contenedor_latampro {
    max-width: 100vw; } }

main {
  font-family: Oswald; }
  main h2 {
    font-size: 45px;
    text-align: center; }

body {
  background-color: #ffee79;
  font-family: Oswald; }

.contenidoBox {
  width: 90%;
  max-width: 4000px;
  margin: auto;
  padding: 40px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center; }

.next_tournaments_column1, .next_tournaments_column2 {
  display: flex;
  flex-direction: column;
  max-height: 100%; }

.principal_image_tournaments {
  border-radius: 10px;
  text-align: center;
  min-width: 350px;
  height: 100%;
  padding: 20px;
  background-size: cover;
  background-position: center center;
  width: 35%;
  border: 3px solid #F83A01;
  box-shadow: 0 0 10px #F83A01;
  animation: tarjetas1 2s infinite; }

.secundary_image_tournaments {
  border-radius: 10px;
  min-height: 300px;
  font-weight: bold;
  /* padding: 20px; */
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  width: 350px;
  margin: 10px;
  align-self: center;
  border: 3px solid #a79710;
  box-shadow: 0 0 10px yellow;
  animation: tarjetas 2s infinite; }

.img_home_tournaments1 {
  width: 350px; }

.texto {
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  justify-content: flex-end;
  align-items: flex-start; }

.promo_tournament_text {
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: flex-start; }

/* BOTONES DE LOG IN Y LOG OFF */
.login {
  margin-bottom: 100px;
  margin-top: 200px;
  text-align: center; }

.botonesLog {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  flex-direction: column;
  align-items: center; }
  .botonesLog a {
    margin: 10px; }

.recuperarCuenta {
  color: blue;
  text-decoration: underline;
  margin-bottom: 200px; }

.encabezado {
  text-align: center;
  margin: 2%;
  font-size: 30px; }

.descripcionOrg {
  display: flex;
  margin: auto;
  width: 80%;
  justify-content: space-around;
  padding: 40px 20px;
  padding-bottom: 6%; }

.textProxTorneos {
  text-align: center;
  margin: 2%;
  font-size: 60px; }

.juegos {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-between;
  opacity: 0.4;
  margin-bottom: 150px; }

.logosJuegosMain {
  text-align: center;
  background-size: cover;
  background-position: center center;
  width: 250px;
  height: 180px; }

h4 {
  padding-left: 20px;
  padding-right: 15px; }

.column_info_org {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px; }

@media screen and (max-width: 1570px) {
  .menu_principal .menu_bar_items li a {
    font-size: 30px; }
  .menu_principal .menu_bar_items_log li a {
    font-size: 15px;
    margin-top: 15px; } }

@media screen and (max-width: 1360px) {
  .menu_bar_items_log {
    display: none; }
  footer div p {
    margin-left: 55px; }
  footer div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    font-size: 25px; } }

@media screen and (max-width: 1150px) {
  .checkbtn {
    display: block; }
  .logo {
    margin-left: 40vw;
    width: 150px;
    height: 150px; }
  .menu_principal {
    width: 100vw; }
  .menu_principal .menu_bar_items {
    position: absolute;
    display: flex;
    width: 100%;
    height: 60px;
    background: #f88315;
    top: 80px;
    top: -100%;
    text-align: center;
    transition: all .5s;
    margin-left: 0%;
    border-radius: 15px 20px 15px 20px;
    border-bottom: 1px solid #D0D3D9;
    box-shadow: 5px 0 10px #F23005;
    justify-content: center; }
  .menu_principal .menu_bar_items li {
    display: inline-block;
    justify-content: center;
    margin: 0 35px;
    line-height: 50px; }
  li a:hover, li a.active {
    background: none;
    color: red; }
  #check:checked ~ ul {
    top: 150px; }
  .textProxTorneos {
    font-size: 45px;
    margin-top: 85px; }
  .descripcionOrg {
    flex-direction: column;
    align-items: center; }
    .descripcionOrg .column_info_org {
      width: 100%; }
  .seccionFooter {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    margin-top: 0px;
    width: 100vw; }
  footer div {
    display: flex;
    flex-direction: column; }
  footer div p {
    margin-top: 15px; }
  .juegos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-bottom: 100px; }
  .juegos .logosJuegosMain {
    height: 450px;
    width: 650px; }
  .juegos .logosJuegosMain_free {
    height: 350px;
    width: 450px; }
  .textProxTorneos {
    color: black;
    text-decoration: none; } }

@media screen and (max-width: 870px) {
  .menu_principal {
    width: 100vw; }
  .menu_principal .menu_bar_items {
    width: 100%;
    height: 110px;
    align-items: center; }
  .menu_principal .menu_bar_items li a {
    font-size: 20px;
    line-height: 55px; }
  .juegos .logosJuegosMain {
    height: 350px;
    width: 450px; }
  .juegos .logosJuegosMain_free {
    height: 250px;
    width: 350px; } }

@media screen and (max-width: 550px) {
  .checkbtn {
    line-height: 130px; }
  .menu_principal {
    height: 130px;
    width: 100vw; }
  .logo {
    margin-left: 36vw;
    width: 140px;
    height: 140px; }
  .menu_principal .menu_bar_items {
    width: 100%;
    height: 110px;
    align-items: center;
    flex-direction: column; }
  .menu_principal .menu_bar_items li a {
    font-size: 20px;
    line-height: 55px; }
  .juegos .logosJuegosMain {
    height: 150px;
    width: 200px;
    padding: 0px; }
  .juegos .logosJuegosMain_free {
    height: 150px;
    width: 200px; }
  .menu_principal .menu_bar_items {
    width: 100%;
    height: 261px; }
  #check:checked ~ ul {
    top: 134px; }
  footer div p {
    margin-left: 55px; }
  footer div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    font-size: 25px; } }
