.contenedor_latampro {
	display: grid;
	grid-template-columns: 4fr 4fr 4fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas: 
	"latampro_main_a latampro_main_a latampro_main_a"
	"latampro_main_b latampro_main_b latampro_main_b"
	;
	
}

@mixin latamBio ($gridarea) {
	display: flex;
	margin: 5%;
	justify-content: center;
	grid-area: $gridarea;
	
}
.latampro_main_a {
	@include latamBio(latampro_main_a)
	
	
}

.latampro_main_b {
	@include latamBio(latampro_main_b)
	
}

.image_latampro_a {
	height: 300px;
	width: 300px;
	border-radius: 35px 40px 35px 40px;
	
}

.image_latampro_b {
	height: 300px;
	width: 300px;
	border-radius: 35px 40px 35px 40px;
	
}



.image_latampro_a {
	height: 400px;
	width: 400px;
}

.text_Latampro_Bio {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	@extend .image_latampro_a;
	margin-left: 75px;
	
}

.latampro_encabezado {
	margin-top: 120px;
}

@media screen and (max-width: 900px) {
	
	.contenedor_latampro {
		display: grid;
		grid-template-columns: 4fr 4fr 4fr;
		grid-template-rows: 1fr 1fr;
		justify-items: center;
		grid-template-areas: 
		"latampro_main_a latampro_main_a latampro_main_a"
		"latampro_main_b latampro_main_b latampro_main_b"
	}

	.latampro_main_a {
		display: flex;
		flex-direction: column;
		
	}

	.latampro_main_b {
		display: flex;
		flex-direction: column;
		
	}

	.text_Latampro_Bio {
		margin-left: 0px;
	}

	.contenedor_latampro {
		max-width: 100vw;
	}
}

@media screen and (max-width: 600px) {
	
	.contenedor_latampro {
		display: grid;
		grid-template-columns: 4fr 4fr 4fr;
		grid-template-rows: 1fr 1fr;
		justify-items: center;
		grid-template-areas: 
		"latampro_main_a latampro_main_a latampro_main_a"
		"latampro_main_b latampro_main_b latampro_main_b"
	}

	.latampro_main_a {
		display: flex;
		flex-direction: column;
		
	}

	.latampro_main_b {
		display: flex;
		flex-direction: column;
		
	}

	.text_Latampro_Bio {
		margin-left: 0px;
	}

	.contenedor_latampro {
		max-width: 100vw;
	}
}