@import './imports/colors';

.enlace {

	position: absolute;
	
}

.logo{
	width: 145px;
	height: 145px;
}

.menu_principal {
	/* position: sticky; */
	background: linear-gradient(to top, $naranja  , $rojo);  
	height: 145px;
	width: 100vw;
 
	border-radius: 15px 20px 15px 20px;
	border-bottom: 1px solid $gris;
	box-shadow: 5px 0 10px $rojo;
	
	.menu_bar_items {
		text-align: center;
		line-height: 145px;
		margin-left: 17.5%;
		/* margin-right: 17.5%; */
		
		
		li {
			display: inline-block;
			justify-content: center;
			margin: 0 40px;
			
		
				a {
					color: #1E1E1E;        
					font-family: Oswald;
					font-size: 35px;
					text-decoration: none;
					display: block;
					
				}
			}

	}

	.menu_bar_items_log {
		float: right;
		margin: 15px 40px;

		li {
			list-style: none;
			margin-bottom: 11px;
			
				a {
					color: #1E1E1E;        
					font-family: Oswald;
					font-size: 25px;
					text-decoration: none;
					display: block;
					
				}
			}
	}

	.menu_bar_items :hover , .menu_bar_items.active{
		color: $gris;
		transition: 0.3s;
	}

}

.checkbtn {
	font-size: 30px;
	color: white;
	float: right;
	line-height: 140px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}

#check{
	display: none;
}


