.encabezado_Torneos {
	padding-top: 50px ;
}

/* MODIFICACION DE LAS FILAS  Y COLUMNAS*/

.primer_columna_torneos_actuales {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	padding: 50px 50px 50px 50px;
	justify-content: center;
}

.segunda_columna_torneos_actuales {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	padding: 50px 50px 50px 50px;
	justify-content: center;

}


/* DISTRIBUCION DE PLACAS DE TORNEOS */

.ficha_Torneo {
	display: flex;
	flex-direction: column;
	width: 320px;
	height: 450px;
	padding: 10px 10px 10px 6px;
	border-radius: 15px 20px 15px 20px;
	border: 4px solid $rojo;
	box-shadow: 2px 2px 2px $rojo;
	
}
.head_Torneo {
	width: 300px;
	height: 200px;
	color: white;
	border-radius: 15px 20px 15px 20px;
	
}

.grafica_Torneo {
	position: absolute;
	width: 300px;
	height: 200px;
	
}

.imagen_Torneos {
	position: absolute;
	width: 300px;
	height: 200px;
	border-radius: 15px 15px 0px 0px;
}

.bloque_Participantes {
	position: relative;
	float: left;
	padding-left: 10px;
	padding-top: 10px;
	
}

.bloque_Modalidad {
	position: relative;
	float: right;
	padding-right: 10px;
	padding-top: 10px;
}

.body_Torneo {
	position: relative;
	background: linear-gradient(to top, $blanco  , $gris); 
	width: 300px;
	height: 200px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding-left: 15px;
}

.footer_Torneo {
	display: flex;
	gap: 100px;
	width: 300px;
	height: 39px;
	background: $negro;
	align-items: center;
	justify-content: center;
	color: white;
	border-radius:  0px 0px 15px 15px;
}

.texto_Modalidad {
	background: rgb(53, 52, 51);
}

.texto_Participantes {
	background: rgb(53, 52, 51);
}

.texto_Juego {
	font-size: 14px;
	padding-top: 15px;
}

.texto_Titulo {
	font-size: 23px;
	padding-top: 5px;
	font-style: italic;
}

.texto_Organizacion {
	display: flex;
	gap: 10px;
	padding-top: 20px;

}
